spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}       # Rest Api 키
            client-secret: ${KAKAO_CLIENT_SECRET}   # 클라이언트 시크릿
            client-authentication-method: client_secret_post  # 보안 설정
            authorization-grant-type: authorization_code      # 권한 부여
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"   # 로그인 후 콜백 URL
            client-name: Kakao
            provider: kakao
          naver:
            client-id: ${NAVER_CLIENT_ID}       # Rest Api 키
            client-secret: ${NAVER_CLIENT_SECRET}   # 클라이언트 시크릿
            client-authentication-method: client_secret_post  # 보안 설정
            authorization-grant-type: authorization_code      # 권한 부여
            redirect-uri: "{baseUrl}/login/oauth2/code/naver"   # 로그인 후 콜백 URL
            client-name: Naver
            provider: naver
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response